body{
    
    background: black;
}
.container{
    font-family: "Arial", Helvetica, sans-serif;
    padding: 30px;
    color:white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 150px;
    white-space: nowrap;
}
